<?xml version="1.0"?>
<config>
	<modules>
		<Ifuturz_Notforsale>
		  <version>0.1.0</version>
		</Ifuturz_Notforsale>
	</modules>
	<frontend>
		<routers> 
			<notforsale>
				<use>standard</use>
				<args>
					<module>Ifuturz_Notforsale</module>
					<frontName>notforsale</frontName>
				</args>
			</notforsale> 
			<checkout>
				<args>
					<modules>
						<ifuturz_notforsale before="Mage_Checkout">Ifuturz_Notforsale</ifuturz_notforsale>
					</modules>
				</args>
			</checkout>
		</routers>
		<layout>
			<updates>
				<notforsale>
					<file>notforsale.xml</file>
				</notforsale>
			</updates>
		</layout>
	</frontend>
	<global>
		<helpers>
			<notforsale>
				<class>Ifuturz_Notforsale_Helper</class>
			</notforsale>
			<bundle>
                <rewrite>
                    <catalog_product_configuration>Ifuturz_Notforsale_Helper_Catalog_Product_Configuration</catalog_product_configuration>
                </rewrite>
            </bundle>
			<catalog>
                <rewrite>
                    <product_configuration>Ifuturz_Notforsale_Helper_Product_Configuration</product_configuration>
                </rewrite>
            </catalog>
		</helpers>
		<blocks>
			<notforsale>
				<class>Ifuturz_Notforsale_Block</class>
			</notforsale>
		</blocks>		
		<resources>
			<notforsale_setup>
				<setup>
					<module>Ifuturz_Notforsale</module>										
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</notforsale_setup>
			<notforsale_write>
				<connection>
					<use>core_write</use>
				</connection>
			</notforsale_write>
			<notforsale_read>
				<connection>
					<use>core_read</use>
				</connection>
			</notforsale_read>
		</resources>
		<models>
			<notforsale>
				<class>Ifuturz_Notforsale_Model</class>
			</notforsale>			
		</models>
		<events>
			<controller_action_predispatch>
				<observers>
					<notforsale_install>
						<class>Ifuturz_Notforsale_Model_Observer</class>
						<method>checkInstallation</method>
					</notforsale_install>					
				</observers>
			</controller_action_predispatch>
		</events>
	</global> 
</config> 